{% if grid.filter_form|length > 1 %}
    <tr class="column-filters {% if 0 == grid.data.records_total and grid.filters is empty %}d-none{% endif %}">
        {% for column in grid.columns %}
            <td {% if column.id == 'id_customer' %} width="100px" {% endif %}>
                {% if grid.column_filters[column.id] is defined %}
                    {% for filter_name in grid.column_filters[column.id] %}
                        {{ form_widget(grid.filter_form[filter_name]) }}
                    {% endfor %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endif %}